:root {
  --outer-margin: 80px;
  --outer-margin-responsive: 30px;
}
.addtaskoverlay-close-button {
  border: none;
  position: absolute;
  top: 35px;
  right: 35px;
  cursor: pointer;
}

.addtask-maincontainer {
  width: calc(100% - 232px);
  margin-left: 232px;
  display: flex;
  flex-direction: column;
  background-color: var(--background-main);
}

.at-headline-maincontainer {
  height: auto;
  margin-top: 64px;
  display: flex;
  align-items: center;
}

.at-headline-maincontainer h1 {
  margin-left: var(--outer-margin);
  font-size: 61px;
}

.at-body-maincontainer {
  height: auto;
  max-height: 515px;
  overflow-y: auto;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-left: var(--outer-margin);
  margin-right: var(--outer-margin);
  margin-bottom: 44px;
  gap: 48px;
}

.at-body-leftinput {
  height: 100%;
  flex: 1;
  margin-top: 20px;
}

.at-body-emptydiv {
  background-color: rgb(128, 128, 128, 0.5);
  width: 1px;
}

.at-body-rightinput {
  height: 100%;
  flex: 1;
  margin-top: 20px;
  margin-bottom: 44px;
}

.at-footer-maincontainer {
  height: auto;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
}

.at-footer-requiredtext {
  height: 20px;
  width: 200px;
  margin-left: var(--outer-margin);
}

.at-footer-buttoncontainer {
  margin-right: var(--outer-margin);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.addtask-overlaycontainer {
  position: relative;
  width: 100%;
  max-width: 1116px;
  height: auto;
  max-height: 870px;
  background-color: white;
  border-radius: 30px;
  /*  animation: slideIn 0.2s ease-out forwards; */
  display: flex;
  flex-direction: column;
}

.addtask-maincontainer {
  width: calc(100% - 232px);
  margin-left: 232px;
  display: flex;
  flex-direction: column;
  background-color: var(--background-main);
  overflow-y: auto;
}

.at-headline-maincontainer {
  height: auto;
  margin-top: 64px;
  display: flex;
  align-items: center;
}

.at-headline-maincontainer h1 {
  margin-left: var(--outer-margin);
  font-size: 61px;
}

.at-body-maincontainer {
  height: auto;
  max-height: 515px;
  overflow-y: auto;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-left: var(--outer-margin);
  margin-right: var(--outer-margin);
  margin-bottom: 44px;
  gap: 48px;
}

/* urgency selector buttons */

.outer {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  background-color: transparent;
  margin-bottom: 20px;
}

.urgency-button {
  width: 100%;
  height: 56px;
  border: 2px solid rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 16px 10px 16px 10px;
  flex: 1;
  font-family: "Inter";
  font-size: 20px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 125ms ease-in-out;
}

.urgency-button svg {
  margin-left: 8px;
}

.urgency-button:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.urgent-button {
  background-color: white;
}

.urgent-active {
  background-color: #ff3d00;
  color: white;
  font-size: 21px;
  font-weight: 700;
}

.urgent-active svg path {
  fill: white;
}

.urgent-active:hover {
  box-shadow: none;
}

.medium-button {
  background-color: white;
}

.medium-active {
  background-color: rgba(255, 168, 0, 1);
  color: white;
  font-size: 21px;
  font-weight: 700;
}

.medium-active svg path {
  fill: white;
}

.medium-active:hover {
  box-shadow: none;
}

.low-button {
  background-color: white;
}

.low-active {
  background-color: rgba(122, 226, 41, 1);
  color: white;
  font-size: 21px;
  font-weight: 700;
}

.low-active svg path {
  fill: white;
}

.low-active:hover {
  box-shadow: none;
}

/* urgency selector buttons end */

/* inputfields */

label {
  margin-bottom: 8px;
  display: block;
}

.label-spacing {
  margin-top: 16px;
}

.inputfield-basic-design {
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  background-color: white;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 16px;
}

.inputfield-basic-design:focus {
  border: solid 1px;
  border-color: #29abe2;
  outline: none;
}

details:focus {
  border: solid 1px;
  border-color: #29abe2;
  outline: none;
}

::placeholder {
  font-family: "Inter", sans-serif;
  color: #d1d1d1;
}

.subtask-field {
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  background-color: white;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  padding-right: 8px;
  display: flex;
  align-items: center;
}

.subtask-field svg {
  height: 20px;
  width: 20px;
  padding: 8px;
  cursor: pointer;
}

.subtask-field div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subtask-field div:hover {
  border-radius: 100px;
  border: none;
  background-color: #f0f0f0;
}

.subtask-field hr {
  height: 24px;
  width: 1px;
  background-color: #d1d1d1;
  border: none;
}

.subtask-field:focus-within {
  border: solid 1px;
  border-color: #29abe2;
  outline: none;
}

.subtasks-input {
  background-image: url("img/add-subtask-icon.png");
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 30px;
  flex: 1;
  cursor: pointer;
  margin: 0;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.subtasks-input:is(:placeholder-shown) ~ div {
  display: none;
}

.subtasks-input:is(:placeholder-shown) ~ hr {
  display: none;
}

.subtasks-input:not(:placeholder-shown) {
  background-image: none;
}

fieldset {
  border: 0;
  padding: 0;
  width: 100%;
}

fieldset legend {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

summary::-webkit-details-marker {
  display: none;
}

summary .summary-text {
  display: inline;
  transition: opacity 0.2s ease;
}

details[open] summary .summary-text {
  opacity: 0;
}

.cl-avatar-space {
  margin-right: 10px;
  margin-left: 0;
}

.required {
  color: red;
}

.assigned-person {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin-left: 10px;
}

.category-option {
  cursor: pointer;
  padding: 4px 0;
}

details {
  border: 1px solid #767676;
  border-radius: 3px;
  display: inline-flex;
  flex-direction: column;
  padding: 3px 6px;
  width: 100%;
}

details summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

details summary::marker,
details summary::-webkit-details-marker {
  display: none;
}

details summary::after {
  content: "\25BC";
  display: inline-block;
  font-size: 0.6rem;
  height: 1rem;
  line-height: 1rem;
  margin-left: 0.5rem;
  transition: transform 0.25s;
}

details[open] summary::after {
  transform: rotate(180deg);
}

details[open] summary {
  margin-bottom: 1rem;
}

details ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  max-height: 100px;
  overflow-y: scroll;
  scrollbar-color: rgba(168, 168, 168, 1) white;
}

details li {
  display: flex;
  align-items: center;
  padding: 8px 8px;
  cursor: pointer;
}

details ul li:hover {
  background: #eee;
  border-radius: 10px;
}

.task-avatar {
  background-color: orange;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  border-radius: 100%;
  width: 36px;
  height: 36px;
  margin-left: 0px;
}

.cl-avatar-space {
  margin-right: 10px;
  margin-left: 0;
}

.assigned-person {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin-left: 10px;
}

.custom-checkbox {
  display: none;
}

.custom-checkbox-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  flex-grow: 1;
  justify-content: flex-end;
  margin-bottom: 0;
}

.checkbox-icon {
  width: 19px;
  height: 18px;
  transition: all 0.3s ease;
}

.custom-checkbox:checked
  + .custom-checkbox-label
  .checkbox-icon
  svg
  .unchecked {
  display: none;
}

.custom-checkbox:checked + .custom-checkbox-label .checkbox-icon svg .checked {
  display: block;
}

.custom-checkbox + .custom-checkbox-label .checkbox-icon svg .checked {
  display: none;
}

.selected-contacts {
  display: flex;
  flex-wrap: wrap;
}

/* category item */

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 5px;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

/* subtasks */

.addedsubtasks svg {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.subtask-icons hr {
  height: 24px;
  width: 1px;
  background-color: #d1d1d1;
  border: none;
}

.addedsubtasks li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.addedsubtasks li:hover {
  background-color: #f0f0f0;
  border-radius: 10px;
}

.subtask-icons {
  opacity: 0;
  align-items: center;
  gap: 10px;
  display: flex;
  margin-right: 15px;
}

.subtask-icons svg {
  transition: transform 0.2s ease;
}

.subtask-icons svg:hover {
  transform: scale(1.1);
}

.addedsubtasks li:hover .subtask-icons {
  opacity: 1;
}

.edit-svg,
.delete-svg {
  cursor: pointer;
}
