.adduser-maincontainer {
  position: relative;
  height: 592px;
  width: 1212px;
  border-radius: 15px;
  display: flex;
  animation: slideIn 0.2s ease-out forwards;
}

.adduser-maincontainer-out {
  position: relative;
  height: 592px;
  width: 1212px;
  border-radius: 15px;
  display: flex;
  animation: slideOut 0.2s ease-out forwards;
}

.adduser-brandcontainer {
  background-color: #2a3647;
  width: 467px;
  height: 592px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.adduser-brandlogo {
  height: 66px;
  width: 55px;
  margin-bottom: 30px;
}

.adduser-brandarea {
  margin-left: 50px;
}

.adduser-brandtext {
  color: white;
  width: 371px;
  height: 129px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.adduser-h1 {
  font-size: 61px;
  margin: 0;
  width: 366px;
}

.adduser-span {
  font-size: 27px;
  margin: 0;
  width: 366px;
}

.adduser-brandline {
  height: 3px;
  width: 87px;
  background-color: #29abe2;
}

.adduser-logincontainer {
  background-color: white;
  width: 745px;
  height: 592px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.adduser-logininputs {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-right: 48px;
}

.adduser-logininputs input {
  height: 50px;
  width: 422px;
  border-radius: 10px;
  border: solid 1px;
  border-color: #d1d1d1;
  font-size: 20px;
  padding-left: 8px;
}

.adduser-logininputs input:focus {
  border: solid 1px;
  border-color: #29abe2;
  outline: none;
}

.adduser-logininputs input:not(:focus):not(:placeholder-shown):invalid {
  border: solid 2px;
  border-color: red;
  outline: none;
}

::placeholder {
  color: #d1d1d1;
  padding-left: 15px;
}

.inputtextname {
  background-image: url(img/person-icon.png);
  background-position: right 10px center;
  background-repeat: no-repeat;
}

.inputtextemail {
  background-image: url(img/mail-icon.png);
  background-position: right 10px center;
  background-repeat: no-repeat;
}

.inputtextphone {
  background-image: url(img/phone-icon.png);
  background-position: right 10px center;
  background-repeat: no-repeat;
}

.adduser-loginprofile {
  margin-left: 90px;
}

.adduser-buttons {
  display: flex;
  gap: 24px;
}

.adduser-overlay-close {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 150px;
}

.adduser-close-button {
  border: none;
  position: absolute;
  top: 35px;
  right: 55px;
  cursor: pointer;
}

.adduser-close-button img {
  height: 18px;
  width: 18px;
}

.adduser-maincontainer svg {
  display: none;
  cursor: pointer;
}

