@media (max-width: 1250px) {
  .adduser-maincontainer {
    height: 90%;
    width: 90%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: slideIn 0.2s ease-out forwards;
  }

  .adduser-maincontainer-out {
    height: 90%;
    width: 90%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: slideOut 0.2s ease-out forwards;
  }
  
  .adduser-brandcontainer {
    width: 80%;
    height: 60%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 15px;
  }
  
  .adduser-logincontainer {
    width: 80%;
    height: 50%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 40px;
  }

  .adduser-logincontainer .button-secondary {
    display: none;
  }

  .adduser-logininputs input {
    height: 35px;
    width: 100%;
    border-radius: 10px;
    border: solid 1px;
    border-color: #d1d1d1;
    font-size: 20px;
    padding-left: 8px;
  }
  .adduser-logininputs {
    display: flex;
    align-items: center;
    margin-right: 0;
    width: 422px;
    gap: 15px;
  }
  .adduser-brandlogo {
    display: none;
  }
  .adduser-loginprofile {
    position: relative;
    top: -60px;
    margin-left: 0;
  }

  .adduser-loginprofile img {
    position: relative;
    top: -5px;
  }
  .adduser-buttons {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .adduser-overlay-close {
    display: none;
  }

  .adduser-maincontainer {
    position: relative;
  }

  .adduser-brandcontainer svg {
    display: block;
    position: absolute;
    height: 14px;
    width: 14px;
    top: 4%;
    right: 13%;
  }

  .adduser-brandline {
    width: 115px;
  }
}
@media (max-width: 650px) {
  form {
    width: 100%;
    display: flex;
    justify-content: center;
  }


  .adduser-maincontainer {
    width: 95%;
  }

  .adduser-brandcontainer {
    width: 100%;
  }

  .adduser-logincontainer {
    width: 100%;
  }

  .adduser-h1 {
    font-size: 46px;
    margin: 0;
    width: 366px;
  }
  .adduser-span {
    font-size: 20px;
    margin: 0;
    width: 366px;
  }
  .adduser-logininputs {
    display: flex;
    align-items: center;
    margin-right: 0;
    width: 80%;
    gap: 15px;
  }
  .adduser-brandline {
    width: 88px;
  }
  .adduser-brandarea {
    margin-left: 35px;
  }
  .adduser-brandcontainer svg {
    display: block;
    position: absolute;
    height: 14px;
    width: 14px;
    top: 4%;
    right: 3%;
  }
}

@media (max-width: 500px) {
  .adduser-h1 {
    font-size: 36px;
    margin: 0;
    width: 366px;
  }
  .adduser-span {
    font-size: 15px;
    margin: 0;
    width: 366px;
  }

  .adduser-brandline {
    width: 67px;
  }
  .adduser-brandarea {
    margin-left: 25px;
  }
  .action-button-text {
    font-size: 15px;
    font-weight: 700;
  }
  .adduser-brandcontainer svg {
    display: block;
    position: absolute;
    height: 14px;
    width: 14px;
    top: 4%;
    right: 3%;
  }
}
@media (max-width: 400px) {
  .adduser-h1 {
    font-size: 26px;
    margin: 0;
    width: 366px;
  }
  .adduser-span {
    font-size: 11px;
    margin: 0;
    width: 366px;
  }

  .adduser-brandline {
    width: 57px;
  }
  .adduser-brandarea {
    margin-left: 25px;
  }
  .adduser-loginprofile img {
    height: 110px;
  }
  .adduser-loginprofile {
    position: relative;
    top: -50px;
    margin-left: 0;
  }
  .action-button-text {
    font-size: 14px;
    font-weight: 700;
  }
  .adduser-brandcontainer svg {
    display: block;
    position: absolute;
    height: 14px;
    width: 14px;
    top: 4%;
    right: 3%;
  }
}

@media (max-width: 540px) {
  @keyframes slideBottomIn {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slideBottomOut {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(100%);
      opacity: 0;
    }
  }

  .adduser-maincontainer {
    animation: slideBottomIn 0.2s ease-out forwards;
  }

  .adduser-maincontainer-out {
    animation: slideBottomOut 0.2s ease-out forwards;
  }
}
