body {
  height: 100vh;
}

a {
  text-decoration: none;
}

.log-head {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.log-head-elements {
  display: flex;
  align-items: center;
  gap: 35px;
  margin-right: 120px;
}

.log-maincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.loginsitecontainers {
  display: flex;
  flex-direction: column;
  height: calc(100% - 184px);
}

.login-container {
  width: 650px;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: white;
  box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  border-radius: 30px;
}

.login-container h1 {
  margin-top: 0;
  font-size: 61px;
  font-weight: 700;
  line-height: 73.2px;
  margin-bottom: 8px;
}

.login-headline-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.login-separator {
  width: 150px;
  border-bottom: solid 3px rgba(41, 171, 226, 1);
}

/* inputfields */

.login-input label {
  height: 20px;
}

label {
  margin-bottom: 8px;
  display: block;
}

.label-spacing {
  margin-top: 16px;
}

.inputfield-basic-design {
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  background-color: white;
  padding: 12px 21px 12px 21px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 8px;
}

.inputfield-basic-design:focus {
  border: solid 1px;
  border-color: #29abe2;
  outline: none;
}

.log-mailinput {
  background-image: url(img/mail-icon.png);
  background-position: right 10px center;
  background-repeat: no-repeat;
}
.log-pwinput {
  background-image: url(img/lock.png);
  background-position: right 10px center;
  background-repeat: no-repeat;
}

.required {
  color: red;
}

.custom-checkbox {
  display: none;
}

.custom-checkbox-login {
  display: flex;
  align-items: center;
  cursor: pointer;
  flex-grow: 1;
  justify-content: flex-start;
  margin-bottom: 0;
  margin-top: 28px;
  margin-left: 40px;
  gap: 8px;
}

.checkbox-icon {
  width: 19px;
  height: 18px;
  transition: all 0.3s ease;
}

.custom-checkbox:checked
  + .custom-checkbox-login
  .checkbox-icon
  svg
  .unchecked {
  display: none;
}

.custom-checkbox:checked + .custom-checkbox-login .checkbox-icon svg .checked {
  display: block;
}

.custom-checkbox + .custom-checkbox-login .checkbox-icon svg .checked {
  display: none;
}

.login-input-container {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.login-input label {
  color: red;
}

::placeholder {
  font-family: "Inter", sans-serif;
  color: #d1d1d1;
}

.login-buttons-container {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  gap: 36px;
}

.login-form {
  width: 100%;
}

.log-siteinfo {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 64px;
  gap: 16px;
}
.log-siteinfo a {
  text-decoration: none;
  color: #d1d1d1;
}

.log-siteinfo a:hover {
  color: var(--brand-blue);
  font-size: 700;
}

.background-animation {
  background-color: #f6f7f8;
  position: absolute;
  width: 100%;
  height: 100%;
  animation: backgroundanim 2s ease 0s 1 normal forwards;
}

@keyframes backgroundanim {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1);
    z-index: -1;
  }
}
.log-joinlogo {
  position: absolute;
  top: 80px;
  height: 120px;
  width: 104px;
  z-index: 10;
  animation: moveLogo 1s linear forwards;
  will-change: transform, height, width;
}

@keyframes moveLogo {
  0% {
    height: 300px;
    width: 284px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  40% {
    height: 300px;
    width: 284px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    top: 80px;
    left: 77px;
  }
}
