body {
  display: flex;
  flex-direction: column;
}

.log-head-elements {
  display: flex;
  align-items: center;
  gap: 35px;
}

.log-maincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.login-container {
  margin-top: 150px;
  width: 598px;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: white;
  box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 30px;
  position: relative;
}

.si-back-arrow {
  position: absolute;
  top: 64px;
  left: 48px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.si-back-arrow:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

.login-container h1 {
  font-size: 61px;
  font-weight: 700;
  line-height: 73.2px;
  margin-top: 0;
  margin-bottom: 8px;
}

.login-headline-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.login-separator {
  width: 150px;
  border-bottom: solid 3px rgba(41, 171, 226, 1);
}

/* inputfields */

.login-input label {
  height: 20px;
}

label {
  margin-bottom: 8px;
  display: block;
}

.label-spacing {
  margin-top: 16px;
}

.inputfield-basic-design {
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  background-color: white;
  padding: 12px 21px 12px 21px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 8px;
}

.inputfield-basic-design:focus {
  border: solid 1px;
  border-color: #29abe2;
  outline: none;
}

.log-nameinput {
  background-image: url(img/person-icon.png);
  background-position: right 10px center;
  background-repeat: no-repeat;
}

.log-mailinput {
  background-image: url(img/mail-icon.png);
  background-position: right 10px center;
  background-repeat: no-repeat;
}

.log-pwinput {
  background-image: url(img/lock.png);
  background-position: right 10px center;
  background-repeat: no-repeat;
}

.required {
  color: red;
}

.custom-checkbox {
  display: none;
}

.custom-checkbox-login {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-grow: 1;
  margin-bottom: 0;
  margin-top: 28px;
  gap: 8px;
}

.checkbox-icon {
  width: 19px;
  height: 18px;
  transition: all 0.3s ease;
}

.custom-checkbox:checked
  + .custom-checkbox-login
  .checkbox-icon
  svg
  .unchecked {
  display: none;
}

.custom-checkbox:checked + .custom-checkbox-login .checkbox-icon svg .checked {
  display: block;
}

.custom-checkbox + .custom-checkbox-login .checkbox-icon svg .checked {
  display: none;
}

.login-input-container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.login-input label {
  color: red;
}

::placeholder {
  font-family: "Inter", sans-serif;
  color: #d1d1d1;
}

.login-buttons-container {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  gap: 36px;
}

.login-form {
  width: 100%;
}

.log-siteinfo {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 64px;
  gap: 16px;
}

.log-siteinfo a {
  text-decoration: none;
  color: #d1d1d1;
  transition: transform 0.2s ease;
}

.log-siteinfo a:hover {
  transform: scale(1.08);
  color: var(--brand-blue);
}

.log-joinlogo {
  position: absolute;
  top: 80px;
  left: 77px;
  height: 120px;
  width: 100px;
  z-index: 10;
}

#accept-invalid {
  color: red;
}

.privacy-link {
  color: var(--brand-blue);
  text-decoration: none;
}

.custom-checkbox-login span {
  color: #a8a8a8;
}

@media (max-width: 1600px) {
  .login-container {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .si-back-arrow {
    top: 40px;
    left: 40px;
  }

  .login-container h1 {
    font-size: 47px;
  }

  .log-joinlogo {
    height: 78px;
    width: 64px;
    top: 50px;
    left: 47px;
  }
}

@media (max-width: 767px) {
  .login-container {
    width: 93%;
    margin-top: 165px;
  }

  .login-input-container {
    width: 90%;
  }

  .su-button {
    font-size: 16px !important;
    width: 55%;
  }

  .log-joinlogo {
    top: 37px;
    left: 38px;
  }

  body {
    overflow-y: scroll;
    overflow-x: hidden;
    height: auto !important;
  }

  .body::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 427px) {
  .si-back-arrow {
    top: 24px;
    left: 24px;
  }

  .login-container h1 {
    font-size: 40px;
  }

  .login-container {
    padding-top: 48px;
  }

  .inputfield-basic-design {
    padding: 10px;
  }
}

@media (max-width: 391px) {
  .login-container {
    margin-top: 16px;
  }

  .log-joinlogo {
    display: none;
  }

  .custom-checkbox-login {
    font-size: 14px;
  }

  .log-siteinfo {
    margin-top: 24px;
  }
}
