.task-small-main {
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
  width: calc(92% - 32px);
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  padding: 16px;
  cursor: pointer;
  background-color: white;
  transition: transform 0.2s ease;
}

.task-small-main:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.08);
}

.task-small-main:active {
  opacity: 0.5;
  transform: rotate(5deg) scale(1.02);
  z-index: 1000;
  cursor: grabbing;
}

.drag-ghost {
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
  width: calc(92% - 32px);
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  padding: 16px;
  cursor: pointer;
  background-color: white;
  transition: transform 0.2s ease;
  z-index: 2000;
}

.ts-content {
  width: 100%;
  /* min-height: 212px; */
}

.ts-category {
  background-color: #0038ff;
  height: 27px;
  width: 100%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: white;
  font-weight: 400;
}

.ts-text-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 24px;
}

.ts-title {
  min-height: 36px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  hyphens: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.ts-description {
  color: #a8a8a8;
  font-weight: 400;
  font-size: 16px;
  hyphens: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.ts-footer {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ts-avatars {
  display: flex;
  flex-wrap: wrap;
}

.ts-avatar {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  font-size: 12px !important;
  font-weight: 400;
}

.ts-priority {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
}

.ts-subtasks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 16px;
  margin-top: 24px;
}

.ts-bar {
  width: 55%;
  height: 8px;
  background-color: #f4f4f4;
  border-radius: 8px;
}

.ts-bar-percentage {
  background-color: #4589ff;
  width: 50%;
  height: 8px;
  border-radius: 8px;
}

.ts-progress {
  font-weight: 400;
  font-size: 12px;
}

@media (max-width: 1400px) {
  .task-small-main {
    min-height: min-content;
    min-width: min-content;
    max-width: min-content;
  }

  .ts-content {
    min-width: 220px;
    max-width: 220px;
    /* min-height: 212px; */
  }
}

@media (max-width: 376px) {
  .task-small-main {
    min-height: 159px;
    min-width: 180px;
    max-width: 180px;
  }

  .ts-content {
    min-width: 143px;
    max-width: 164px;
    min-height: 164px;
  }
}
